/*
  STYLE GUIDE STYLING
  Default styling for the style guide
*/

body {
  font-family: Helvetica_light;
  padding: 2rem;
	color: #58595B;
}

section:not([id]) {
  margin: 1em 0;
  padding: 1em 0;
  border-bottom: 0.05em solid #A7A9AC;
}

section h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

section h3 {
  margin-bottom: 0;
}

section p {
  color: #808285;
}


nav {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 0.15em solid #333;
}

nav a:hover, nav a:focus {
  text-decoration: none;
}

section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
  display: block;
}

ul.citations {
  margin-left: 0.25em;
  padding-left: 0.25em;
}

ul.citations li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 1em;
}

ul.citations li strong {
  font-weight: normal;
  font-style: italic;
}

cite {
  font-style: normal;
}


/*
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  padding: 0.5em 0.5em;
  color: white;
  background-color: #0089bb;
  border-radius: 0.25em;
  text-decoration: none;
	text-align: center;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.button-nav a{
  color:white;
}

.button-nav:hover, .button-nav:focus {
  background-color: #90cad5;
  color:white;
}


/* Styling for the in-text link */
.intext_link{
  color:#0089bb;
}
.intext_link:hover, .intext_link:focus{
  color:#90cad5;
}


/* Styling for the submit button */
.button_submit {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: white;
  background-color: #5a95b3;
  border-radius: 0.25em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.button_submit:hover, .button_submit:focus {
  background-color: #a0c1e0;
  color:white;
}


/* Styling for the reset button */
.button_reset {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: white;
  background-color: #bfa277;
  border-radius: 0.25em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.button_reset:hover, .button_reset:focus {
  background-color: #e2d6a8;
  color:white;
}


/* Styling for the  text input field and a label */
label{
	color:#5a95b3;
	font-size: 1.2em;
}

input {
    width: 50%;
    padding: 0.5em 0.5em;
    margin: 0.5em 0;
    border: 0.2em solid #5a95b3;
    border-radius: 0.5em;
}





/*
  TEXT ELEMENTS -------------------
*/

/* styyling for the bulleted lists */
.bulleted_list {
	color:#5a95b3;
}


/* styling for the numberred lists */
.numbered_list{
color:#5a95b3;
}


/* styling for three levels of headings */
h1.web_heading1{
	font-size: 4em;
}
h2.web_heading2{
	font-size: 3em;
}
h3.web_heading3{
	font-size: 1.5em;
}


/* styling for paragraph */






/*
  COMBINED ELEMENTS -------------------
*/


/*styling for navigation*/
.web_navigation{
	  display:flex;
		text-decoration: none;
}


.web_navigation a{
  color:black;
  margin-bottom: :0.25em;
	margin-top: :0.25em;
	margin: 1em;
  text-decoration: none;
	text-align: center;
}


.web_navigation a:hover, .web_navigation a:focus {
  color:black;
	/*text-decoration-line: underline;*/
	 border-bottom: 0.1em solid black;
	 border-radius: 2px;
}

@media (max-width: 31em){
  .nav-main{
    padding: 0em;
  }
}

@media (min-width: 31.1em){
  .web_nav{
    padding: 0em;
  }

  /*.CartIcon{
    display: right;
  }*/
}

@media (min-width: 38em){
  .web_nav{
    padding: 0.1em 0.5em;
  }
/*
  .CartIcon{
    display: right;
  }*/
}

@media (min-width: 47em){
  .web_nav{
    padding: 0.1em 1em;
  }


  /*.CartIcon{
    display: right;
  }*/
}


/*styling for product/service listing*/
.container{
  display:flex;
	flex-wrap: wrap;
}

.item{
	flex-grow: 1;
}


/*styling for grid structure*/
.grid0_1, .grid1_2, .grid2_3, .grid3_4{

  float: left;
  text-align: center;
  background-color: #D1D3D4;
  margin-bottom: 0.2em;
  width: 100%;
  /*border-color: white;
  border-style: solid;*/


}


@media (min-width: 38em){

	.grid1_2 {
    width: 50%;
  }

    .grid2_3 {
    width: 33.33333%;
  }

  .grid3_4{
    width: 25%;
  }

}


/*styling for color swathces*/
.color_swatches1{
	background-color: #90cad5;
	border-radius: 0.25em;
	padding:0.5em;
}

.color_swatches2{
	background-color: #0189bb;
	border-radius: 0.25em;
	padding:0.5em;
}
.color_swatches3{
	background-color: #a0c2e0;
	border-radius: 0.25em;
	padding:0.5em;
}
.color_swatches4{
	background-color: #5a95b3;
	border-radius: 0.25em;
	padding:0.5em;
}
.color_swatches5{
	background-color: #e2d6a8;
	border-radius: 0.25em;
	padding:0.5em;
}
.color_swatches6{
	background-color: #bfa176;
	border-radius: 0.25em;
	padding:0.5em;
}
