*, *::after, *::before {
	box-sizing: border-box;
}
.box {
	/*
		Given we are working with an image, in this case we have set a flex-basis value that is a pixel value to reflect the 'minimum' width of the image before the flexbox reflows and stacks the elements inside. Additionally, the use of a flex-grow value of 3 ensures that our image is 'heavier' (will take up more space) when available.
	*/
	display: flex;
	/*-webkit-flex:  100px;
	-ms-flex:  100px;*/
	flex-wrap: Wrap;
}
