@font-face{
  font-family:"Helvetica-Normal";
  font-weight: normal;
  font-style: normal;

  src:
      url("helvetica/Helvetica-Normal.ttf") format("truetype");
}

body{
  font-family: "Helvetica-Normal";
  font-weight: bold;
  font-style: normal;
  src:
      url("helvetica/Helvetica-Normal.ttf") format("truetype");
}
