/*
  STYLE GUIDE STYLING
  Default styling for the style guide
*/

body {
  font-family: Helvetica-Normal;
  padding: 2rem;
  color: #58595B;
}


section:not([id]) {
  margin: 1em 0;
  padding: 1em 0;
  /*border-bottom: 0.05em solid #A7A9AC;*/
}

section h2 {
  margin-bottom: 0.5em;
}

section h3 {
  margin-bottom: 0;
}

section p {
  color: #939598;
}

code{
  color:#808285;
}


nav a:hover, nav a:focus {
  text-decoration: none;
}


section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
  display: block;
}

header{
  color:#029046;
}

h4{
  color:#6D6E71;
}

a{
  color:#5a95b3;
}

ul.citations {
  margin-left: 0.25em;
  padding-left: 0.25em;
}

ul.citations li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 1em;
}

ul.citations li strong {
  font-weight: normal;
  font-style: italic;
}

cite {
  font-style: normal;
}



/*
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */


.button-nav a {
  text-decoration: none;
  color:black;
}

.button-nav a:hover, .button-nav a:focus  {
   color:gray;
	/*text-decoration-line: underline;*/
	 border-bottom: 0.1em solid gray;
	 border-radius: 0.1rem;
}

/* Styling for the intext_link */
.intext_link{
  color: #0189bb;
}

.intext_link:hover, .intext-link:focus{
   color: #90cad5;
}

/* Styling for the submit button */
.button_submit {
  padding: 0.5em 0.75em;
  color: #FFF;
  background-color: #0189bb;
  border-radius: 0.25em;
  text-decoration: none;
  /*-webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;*/
}

.button_submit:hover, .button_submit:focus {
  background-color:#90cad5;
  /*border: 0.1em solid;*/
  /*border-color: #5a95b3;*/
  color: #white;
  /*padding: 0.4em 0.65em;*/
}


/* Styling for the reset button */
.button_reset {
  padding: 0.5em 0.75em;
  color: #FFF;
  background-color: #bfa277;
  border-radius: 0.25em;
  text-decoration: none;
  /*-webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;*/
}

.button_reset:hover, .button_reset:focus {
  background-color:#e2d6a8;
  /*border: 0.1em solid;
  border-color: #bfa277;*/
  color: #white;
  /*padding: 0.4em 0.65em;*/
}


/* Styling for the  text input field and a label */
label{
	color:#5a95b3;
	font-size: 1.2em;
}

input {
    /*width: 94%;*/
    padding: 0.5em 0.5em;
    margin: 0.5em 0;
    border: 0.2em solid #5a95b3;
    border-radius: 0.5em;
}


/*
  TEXT ELEMENTS -------------------
*/

/* styyling for the bulleted lists */
.bulleted_list {
	color:#5a95b3;
}


/* styling for the numberred lists */
.numbered_list{
color:#5a95b3;
}

.link-nav:hover, .link-nav:focus {
  color: #5AAE46;
}

.link-nav{
  color: #029046;
}

.textstyle{
  font-style:oblique;
}


/*
  COMBINED ELEMENTS -------------------
*/

/*styling for navigation*/
.web_navigation{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
	text-decoration: none;
}


.web_navigation a{
  color:black;
  text-decoration: none;
	text-align: center;
}


.web_navigation a:hover, .web_navigation a:focus {
  color:gray;
	/*text-decoration-line: underline;*/
	border-bottom: 0.1em solid gray;
	border-radius: 0.1rem;
}


@media (max-width: 70.68em){
  ul.web_navigation li{
    padding: 0.1em 3.5em;
  }

  .cart_nav{
    display: none;
  }
}


@media (max-width: 61.87em){
  ul.web_navigation li{
    padding: 0.1em 2.5em;
  }

  .cart_nav{
    display: none;
  }
}


@media (max-width: 51.87em){
  ul.web_navigation li{
    padding: 0.1em 1.5em;
  }

  .cart_nav{
    display: none;
  }

  .logoImage{
    margin-left: -3em;
  }
}



/*styling for product/service listing*/
.box{
display:flex;
flex-wrap: wrap;
}


.Prod-list1  .Prod-list2  .Prod-list3 .Prod-list4{
  flex-grow: 1;
  width: 25%;
}

figcaption{
text-align: center;
}


/*styling for color swathces*/
.Color1{
  padding: 0.8em;
  background-color: #90cad5;
  margin-bottom: 1em;
  margin-right: 10%;
  text-align: right;
  color: white;
}

.Color2{
  padding: 0.8em;
  background-color: #0189bb;
  margin-bottom: 1em;
  margin-right: 10%;
  text-align: right;
  color: white;
}

.Color3{
  padding: 0.8em;
  background-color: #a0c2e0;
  margin-bottom: 1em;
  margin-right: 10%;
  text-align: right;
  color: white;
}

.Color4{
  padding: 0.8em;
  background-color: #5a95b3;
  margin-bottom: 1em;
  margin-right: 10%;
  text-align: right;
  color: white;
}

.Color5{
  padding: 0.8em;
  background-color: #e2d6a8;
  margin-bottom: 1em;
  margin-right: 10%;
  text-align: right;
  color: white;
}

.Color6{
  padding: 0.8em;
  background-color: #bfa176;
  margin-bottom: 1em;
  margin-right: 10%;
  text-align: right;
  color: white;
}


/*styling for grid structure*/

.grid1_0, .grid1_1, .grid2_1, .grid3_1, .grid4_3, .grid4_1 {

  float: left;
  /*text-align: center;
  background-color: #D1D3D4;*/
  margin-bottom: 0.2em;
  width: 100%;
  /*border-right: solid;
  border-color: white;*/
}

.grid1_0 .banner img{
  width:100%;
  height:auto;
}


@media (min-width: 41.25em){
  .grid3_1 {
    width: 50%;
  }


@media (min-width: 56.25em){
  .grid1_1 {
    width: 50%;
  }

  .grid2_1 {
    width: 33.33333%;
  }

  .grid3_1{
    width: 25%;
  }

  .grid4_3{
   width: 75%;
 }

 .grid4_1{
   width: 25%;
 }

}
