*, *::after, *::before {
	box-sizing: border-box;
}

.nav_main_wrap{
  width: 100%;
  padding-bottom: 5em;
}

.web_navigation{
  width: 100%;
  flex-wrap: wrap;
}

.nav_link{
  margin:2em 0em;
}

ul.web_navigation li {
  list-style-type: none;
  float: left;
  padding:0em 3em 3em 3em;
}


.cart_nav{
  justify-content: flex-end;
}

.CartIcon{
  float:right;
  height:23px;
  width:27px;
}

.logoImage{
  margin-bottom: -0.5em;
  height:69.75px;
  width:94.5px;
}






a{
  color:black;
	text-align: center;
  text-decoration: none;
}

a:hover, a:focus {
  color:gray;
	/*text-decoration-line: underline;*/
	border-bottom: 0.1em solid gray;
	border-radius: 0.1rem;
}



/*@media (max-width: 13.75em){
  .CartIcon{
    display: none;
  }
  .web_nav{
    padding: 0.5em;
  }
}

@media (min-width: 31.1em){
  .web_nav{
    padding: 0.3em;
  }

  .CartIcon{
    display: right;
  }
}

@media (min-width: 38em){
  .web_nav{
    padding: 0.1em 0.5em;
  }

  .CartIcon{
    display: right;
  }
}

@media (min-width: 47em){
  .web_nav{
    padding: 0.1em 1em;
  }

  .CartIcon{
    display: right;
  }
}*/




/***homePage***/

h1{
  text-align: center;
}

img {
  height: 13em;
  width:auto;
}

.new_products {
  display:flex;
  justify-content: flex-start;
  border: thin solid #DDDDDD;
  width: 45%;
  float:left;
  margin: 1em;
  }

.new_product1{
  width: 45%;
}

.button-nav {
    display: inline-block;
    padding: 0.5em 0.75em;
    color: #DDDDDD;
    border: thin solid #DDDDDD;
    border-radius: 0.5em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}







/*productList Page*/
.box {
	display: flex;
	flex-wrap: Wrap;
}

.Prod-list1  .Prod-list2  .Prod-list3 .Prod-list4{
  flex-grow: 5;
  width: 25%;
  fill: gray;
  border: 0.1em solid gray;
  padding: 1em, 5em;
}

figcaption{
text-align: center;
}
