.web_navigation{
	  display:flex;
		text-decoration: none;
}


.web_navigation a{
  color:black;
  text-decoration: none;
	text-align: center;
}


.web_navigation a:hover, .web_navigation a:focus {
  color:gray;
	/*text-decoration-line: underline;*/
	border-bottom: 0.1em solid gray;
	border-radius: 0.1rem;
}


/***homePage***/

*, *::after, *::before {
	box-sizing: border-box;
}


.box {
	display: flex;
	flex-wrap: Wrap;
}
